

/*   ------------------------------------------ custom CSS ------------------------------------------------------  */

.body{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
}
.navbar, .onlytext{
	background-color: white !important;
}
.onlytext{
	padding-bottom: 2%;
	padding-top: 2%;
}
.home{
	background-image: url("images/pink_shoes.jpg") !important;
}
.home .text{
	background-color: black;
	opacity: 0.6;
}
h2{
	font-weight: bold;
}
h2, .home h4{
	color: white !important;
}
.search input{
	border-radius: 20px;
	border-right: none;
	box-shadow: none;
}
.input-group-addon{
	border-bottom-right-radius:50% !important;
	border-top-right-radius: 50% !important; 
	background-color: transparent !important;
	border-left: none !important;
	color: lightgrey !important;
}
.my-profile, .items{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.my-profile li, .items li{
    display: inline-block;
    border-right: 1px solid #eee;
    padding: 5px 12px;
}
.nextitems li a{
	padding-bottom: 30px !important;
	padding-top: 30px !important;
}
.nextitems li:hover{
	background-color: #D70004;
	color: white;
}
.my-profile li:last-child{
	border:none;
}
.my-profile li:hover{
	font-size: 15px;
	font-weight: bold;
}
.nextitems a:hover{
	color: white !important;
	font-weight: bold;
}
.nextitems a{
	font-weight: bold;
}
a:hover{
	text-decoration: none !important;
}
.my-profile a{
    color: black !important;
}
a.logo{
	//position: absolute;
	//	float: left;
}
.navbar{
	margin: 0% !important;
	border-radius: 0px !important;
}
.container{
	margin-top: 20px;
	border-radius: 0px !important;
}
.top{
	padding-top: 5px;
}
.profile{
	margin-top: 2px;
}
.next{
	border-bottom: 5px solid #D70004;
}
.products{
	background-color: white;
	border-top: 1px solid grey;
	box-shadow: 0 -5px 5px -5px #333;
}
.products1{
	background-color: white;
}
.title{padding: 1% 1% 4% 1%;}
.title h4{ width: 100%; font-weight: bold; color:black;}
.title strong{color:red;}
.title .pull-right{width:4%;}
.fa-chevron-left, .fa-chevron-right{
	padding:5%;
	background-color: lightgrey;
	margin:3%;
}
.highlights{width: 50%; padding-left: 3%;}
.clients{background-color: white; padding-top: 3%; padding-bottom: 3%;}
.clients img{width:100%;}
.footer{color: white; padding-top: 3%; padding-bottom: 2%; background-color: #242424;}
.navi>li>a {color: white !important;}
.social_icons span{font-size: 20px; }
.social_icons .fa{padding: 3%; background-color: lightgrey; border-radius: 100%; color: black;}
.social_icons .fa-facebook{padding-left:4% !important; padding-right: 4% !important;}
.carousel img{height:300px; width: 100%;}
.carousel .col-md-3 div{background-color: lightgrey;}
.featurerow{
	background-color: white;
text-align: center;border-top: 2px solid #CCCCCC;padding: 0;
}
.featurecol{
padding-top: 1%;
}
.feature{
margin: auto;
background-color: #D70004;
border-radius: 100%;
width:70px;
height:70px;
line-height: 70px;
}
.copyright{color: white; padding: 1% 1% 1% 1%;}
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.highlights{width: 100%;}
}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
	.highlights{width: 100%;}
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}


/*   ------------------------------------------ End of custom CSS ------------------------------------------------------  */
